.botao{
    background-color: rgb(54, 181, 236);
    font-size: 18px;
    font-weight: 750;
    align-items:center;
    line-height: 1px;
    height: 10PX;
    padding: 25px;
    cursor: pointer;
    color: rgb(6, 6, 6);
    border-radius: 30px;
    margin: 16px 0;
    margin-left: 30px;
}

.botao:hover{
    color: rgb(87, 53, 143);
    background-color: burlywood;
}