.time {
    text-align: center;
    padding: 32px;

}
.time h3{
    font-family: monospace;
    font-style:oblique;
    font-size: 32px;
    border-bottom: 4px solid ;
    display: inline-block;
    padding-bottom: 8px;
}

